<head>
    <!-- Encoding -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drenas Local Elections 2016</title>
    <meta name="description" content="Claimed ballot concentration per candidate." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@OpenDataKosovo">
    <meta name="twitter:title" content="Drenas Local Elections 2016">
    <meta name="twitter:description" content="Claimed ballot concentration per candidate.">
    <meta name="twitter:creator" content="@OpenDataKosovo">
    <meta name="twitter:image" content="http://opendatakosovo.github.io/drenas-elections-2016/static/img/screenshot.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Drenas Local Elections 2016" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://opendatakosovo.github.io/drenas-elections-2016/" />
    <meta property="og:image" content="http://opendatakosovo.github.io/drenas-elections-2016/static/img/screenshot.png" />
    <meta property="og:description" content="Claimed ballot concentration per candidate." /> 
    <meta property="og:site_name" content="Open Data Kosovo - Drenas Local Elections 2016" />
    
    {% include scripts.html %}
</head>
