<!-- Kosovo Mosaic Version -->
<title>Drenas Election Results 2016</title>

<!-- jquery plugin -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Leaflet map css -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>

<!-- Leaflet map js -->
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<script src="/drenas-elections-2016/static/js/leaflet-heat.js"></script>

<!-- Local css file -->
<link href="/drenas-elections-2016/static/css/style.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
