body {
    font-family: ‘Courier New’, Courier, monospace;
}

.hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    width: 90%;
    text-align: center;
}

.hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.map-container {
    height: 530px;
    width: 95%;
    margin: 0 auto;
}